.scoreMiddle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;

    .crownImg {
        width: 40%;
    }

    hr {
        size: 50px;
        width: 100%;
        color: var(--colorThird);
    }

    .userDisplay {
        //background-color: pink;


        .nameScore {
            text-align: left;

            h2 {
                color: var(--colorThird);
                font-family: 'Exo 2', sans-+serif;
                font-weight: bold;
                font-size: 1.4em;
            }
        }

        .movTimScore {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            h3 {
                color: var(--colorThird);
                font-family: 'Exo 2', sans-serif;
                font-weight: bold;
                font-size: 1.2em;
                padding-top: 2%;
            }

            .timmerImg {
                width: 12%;
            }

            .movementImg {
                width: 10%;

            }
        }
    }
}