.homeTop {
    height: 10vh;

    .homeTop__Img {
        padding-top: 2%;
        padding-right: 5%;
        width: 14%;
        float: right;
    }
}

.homeMiddle {
    height: 80vh;
    //background-color: tomato;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 4em;
        font-family: 'Fredoka One', cursive;
        color: var(--colorThird);
    }

    ul {
        padding-right: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.1rem;
        li {
            list-style: none;
            text-decoration: none;
            color: var(--colorThird);
            font-family: 'Exo 2', sans-serif;
            font-size: 1.2em;
        }
    }

}

.homeBottom {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .homeBottom__Img {
        width: 15%;
        padding-left: 5%;
    }
}