.newProfileMiddle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    font-family: 'Exo 2', sans-serif;
    color: var(--colorSecun);
    font-size: 1.5rem;

    h2 {
        font-size: 2rem;
        font-weight: bolder;
    }

    form {
        width: 100%;
        padding-top: 5%;

        .form-label{
            font-size: 1.4rem;
            font-weight: bolder; 
        }
        .form-text {
            color: var(--colorSecun);
            font-size: 1.2rem;
        }

        .themes {
            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .themeOption {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .themeExample {
                    width: 2.2rem;
                    height: 2.2rem;
                    border-radius: 2.2rem;
                    border: 0.15rem solid var(--colorPrima);
                    font-weight: bolder;
                    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 5px;

                }

                .green {
                    background: rgb(82, 115, 77);
                    background: linear-gradient(180deg, #95da9d 0%, #75b989 74%);
                }

                .purple {
                    background: rgb(23, 1, 41);
                    background: linear-gradient(180deg, rgba(30, 33, 64, 1) 0%, rgba(34, 37, 71, 1) 10%, rgba(37, 41, 79, 1) 30%, rgba(41, 46, 86, 1) 75%, rgba(45, 50, 94, 1) 94%);
                }

                .dark {
                    background: rgb(0, 0, 0);
                    background: linear-gradient(160deg, #282B30 0%, #232324 80%);
                }

                .light {
                    background: rgb(181, 181, 181);
                    background: linear-gradient(0deg, #f0f0f0 0%, #fff 74%);
                }

                .activeTheme {
                    width: 2.5rem;
                    height: 2.5rem;
                    border: 0.2rem solid var(--colorSecun);
                    border-radius: 2.5rem;
                    box-shadow: rgba(0, 0, 0, 1) 0px 4px 15px;   
                    
                }
                .themeDescription {
                    margin-top: 15%;
                    font-size: 1.2rem;
                    text-align: start;
                }
            }
        }

        .sound {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        .submitC {
            margin-top: 5%;
            float: right;
        }
    }

    .btn-link {
        text-decoration: none;
        color: var(--colorSecun);
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        border: 0.05rem solid var(--colorSecun);
        font-weight: bold;
    }

    h3 {
        padding-top: 10%;
        font-family: 'Exo 2', sans-serif;
        text-decoration: underline;
        color: var(--colorSecun);
        font-size: 0.8em;
    }

}