.homeMiddle{
    h3{
        color: var(--colorSecun);
        font-family: 'Fredoka One', cursive;
    }
    .newGamBtn{
        color: var(--colorSecun);
        font-family: 'Exo 2', sans-serif;
        font-weight: bolder;
        width: 80%;
        text-decoration: none;
        border-radius: 1px solid var(--colorSecun);
    }
}