.profileMiddle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    font-family: 'Fredoka One', cursive;
    color: var(--colorThird);

    .profileLisItem {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: 'Exo 2', sans-serif;

        h3 {
            padding-top: 2%;
            font-size: 1.4rem;
            text-align: left;
        }

        .btn-link {
            text-decoration: none;
            color: var(--colorPrima);
            font-size: 1.4rem;
            font-weight: bold;
            letter-spacing: 0.1rem;
        }
    }

    hr {
        size: 50px;
        width: 100%;
        color: var(--colorThird);
    }

}