.profileMiddle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    font-family: 'Fredoka One', cursive;
    color: var(--colorSecun);
    font-size: 1.4rem;

    .profileLisItem {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: 'Exo 2', sans-serif;

        h3 {
            padding-top: 2%;
            font-size: 1.4rem;
            text-align: left;
            
        }

        .btn-link {
            text-decoration: none;
            color: var(--colorSecun);
            font-size: 1.4rem;
            font-weight: bold;
            letter-spacing: 0.1rem;
        }
    }

    hr {
        size: 50px;
        width: 100%;
        color: var(--colorThird);
    }

    .btn-linka {
        text-decoration: none;
        color: var(--colorSecun);
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
        border: 0.1rem solid var(--colorSecun);
        font-family: 'Exo 2', sans-serif;
    }

}

footer {
    padding: 4%;
    //  height: 18vh;


    .home {
        color: var(--colorSecun);
        font-size: 1em;
        font-family: 'Exo 2', sans-serif;

    }

    .home:hover {
        color: var(--colorSecun);
        font-family: 'Exo 2', sans-serif;
    }

    .logoFooter {
        width: 28%
    }
}