* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorBase: #222831;
    --colorPrima: #393E46;
    --colorSecun: #EEEEEE;
    --colorThird: #EEEEEE;
    /**/
    --colorBase: #763857;
    --colorPrima: #F4F9F9;
    --colorSecun: #F7F6E7;
    --colorThird: #EEEEEE;
    /**/
    --colorBase: #2e3154;
    --colorPrima: #57406b;
    --colorSecun: #e076a5;
    --colorThird: #EEEEEE;
    /**/
    --colorBase: #3B4175;
    --colorPrima: #1E2140;
    --colorSecun: #DDFFBC;
    --colorThird: #EEEEEE;
}

body {
    background-image: linear-gradient(to right top, #1e2140, #222547, #25294f, #292e56, #2d325e);
    max-width: 360px;
    max-height: 640px;
}



header {
    padding-top: 1vh;
    height: 24vh;
    font-family: 'Fredoka One', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.8em;
    color: var(--colorSecun);

    .option {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        //  background-color: yellow;

        h1 {
            font-size: 2.4em;
            color: rgb(72, 75, 109);
        }

        .optionImg {
            transform: scale(1);
            //background-color: red;
        }

    }

    .scoreHeader {
        display: flex;
        flex-direction: row;
        // background-color: red;
        width: 90%;

        .btn-link {
            text-decoration: none;
            color: rgb(72, 75, 109);
            font-size: 1.3rem;
            font-weight: bolder;
            font-family: 'Exo 2', sans-serif;
            letter-spacing: 0.1rem;
            //background-color: yellow;
            width: 100%;
            padding: 0%;
        }

        .btn-link:hover {
            text-decoration: none;
            border: none;
            color: #39A3CD;
        }

        .scoreHeaderItem {
            padding: 0%;
            padding-top: 2%;
            text-align: end;

            .movement {
                color: #39A3CD;
                font-size: 1.8rem;
                font-weight: bold;
                font-family: 'Exo 2', sans-serif;
            }

            .time {
                color: #39A3CD;
                font-weight: bold;
                font-size: 1.8rem;
                font-family: 'Exo 2', sans-serif;
            }
        }



    }
}

#oficialBoard {
    margin-top: -53vh;
    z-index: 5;
}

.boardCombo {
    background-image: linear-gradient(to left top, #1e2140, #222547, #25294f, #292e56, #2d325e);
    padding: 2%;
    border-radius: 0.5em;
    backdrop-filter: blur(4.0px);
    font-family: 'Exo 2', sans-serif;

    .tablero {
        height: 53vh;
        width: 100%;
        border-radius: 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0.5em;
        background-color: rgba(255, 255, 255, 0.02);

        .row_group_container {
            display: flex;
            flex-wrap: nowrap;
            height: 24.5%;
            width: 100%;
            z-index: 1;
            justify-content: space-around;

            .target {

                width: 24%;
                text-align: center;
                align-items: center;
                font-size: 2.4em;
                font-weight: bolder;
                border-radius: 0.3em;
                border: none;
                position: relative;
                margin: 1%;
            }

            .activeOne {
                font-weight: bolder;
                text-align: center;
                align-items: center;
                color: #2F9ED3;
                background-color: rgba(255, 255, 255, 0);
                font-size: 2.4em;
                font-weight: bolder;

            }

            .targetOB {
                color: (--colorBase);
                width: 24%;
                text-align: center;
                align-items: center;
                font-size: 2.2em;
                border-radius: 0.3em;
                border: none;
                position: relative;
                margin: 1%;

                font-size: 2.2em;
                font-weight: bolder;
            }


            .active {
                font-weight: bolder;
                text-align: center;
                align-items: center;
                color: #2F9ED3;
                background-color: rgba(255, 255, 255, 0);
                font-size: 2.4em;
                font-weight: bolder;
            }

            .nonActive {
                background-color: #4c5186;
                font-weight: bolder;
                color: #43DEBB;
            }

            .margLeft {
                margin-left: 2%;
            }

            .margTop {
                margin-top: 1%;
            }

        }

    }
}

.score {
    height: 7vh;
}

footer {
    height: 15vh;
    display: flex;
    justify-content: space-between;

    .logoFooter {
        //  transform: scale(0.4);
    }
}

.back {
    font-weight: bold;
    color: #39A3CD;
    font-size: 1.2em;
    font-family: 'Exo 2', sans-serif;

}

.back:hover {
    color: #39A3CD;
    font-family: 'Exo 2', sans-serif;
}

@import "home";
@import "globalScore";
@import "profileList";
@import "newProfile";