* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --colorPrima: #1E2140;
  --colorSecun: #DDFFBC;
  --colorThird: #EEEEEE;
}

body {
  background: #1e2140;
  background: linear-gradient(130deg, #1e2140 0%, #222547 25%, #25294f 50%, #292e56 75%, #2d325e 94%);
  background-repeat: repeat-y;
}

.boardScreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 360px;
  margin-top: 2%;
}

.boardScreen header {
  font-family: 'Fredoka One', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 1.8em;
  color: var(--colorSecun);
}

.boardScreen header .option {
  padding-top: 5%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boardScreen header .option h1 {
  font-size: 2em;
  text-align: left;
  color: #2F9ED3;
  opacity: 0.4;
}

.boardScreen header .option .optionImg {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.boardScreen header .scoreHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
}

.boardScreen header .scoreHeader .btn-link {
  text-decoration: none;
  color: #484b6d;
  font-size: 1.3rem;
  font-weight: bolder;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 0.1rem;
  padding: 0%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.boardScreen header .scoreHeader .btn-link:hover {
  text-decoration: none;
  border: none;
  color: #39A3CD;
}

.boardScreen header .scoreHeader .scoreHeaderItem {
  padding: 0%;
  padding-top: 2%;
  text-align: end;
}

.boardScreen header .scoreHeader .scoreHeaderItem .movement {
  color: #39A3CD;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Exo 2', sans-serif;
}

.boardScreen header .scoreHeader .scoreHeaderItem .time {
  color: #39A3CD;
  font-weight: bold;
  font-size: 1.8rem;
  font-family: 'Exo 2', sans-serif;
}

.boardScreen .boardCombo {
  background: #1e2140;
  background: linear-gradient(310deg, #1e2140 0%, #222547 25%, #25294f 50%, #292e56 75%, #2d325e 94%);
  padding: 2%;
  border-radius: 0.5em;
  font-family: 'Exo 2', sans-serif;
  margin-top: 3%;
}

.boardScreen .boardCombo #oficialBoard {
  margin-top: -300px;
  z-index: 5;
}

.boardScreen .boardCombo .tablero {
  height: 300px;
  width: 300px;
  border-radius: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5em;
  background-color: rgba(255, 255, 255, 0.02);
}

.boardScreen .boardCombo .tablero .row_group_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 24.5%;
  width: 100%;
  z-index: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.boardScreen .boardCombo .tablero .row_group_container .target {
  width: 24%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.4em;
  font-weight: bolder;
  border-radius: 0.3em;
  border: none;
  position: relative;
  margin: 1%;
}

.boardScreen .boardCombo .tablero .row_group_container .activeOne {
  font-weight: bolder;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2F9ED3;
  background-color: rgba(255, 255, 255, 0);
  font-size: 2.4em;
  font-weight: bolder;
}

.boardScreen .boardCombo .tablero .row_group_container .targetOB {
  color: --colorBase;
  width: 24%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.2em;
  border-radius: 0.3em;
  border: none;
  position: relative;
  margin: 1%;
  font-size: 2.2em;
  font-weight: bolder;
}

.boardScreen .boardCombo .tablero .row_group_container .active {
  font-weight: bolder;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2F9ED3;
  background-color: rgba(255, 255, 255, 0);
  font-size: 2.4em;
  font-weight: bolder;
}

.boardScreen .boardCombo .tablero .row_group_container .nonActive {
  background-color: #4c5186;
  font-weight: bolder;
  color: #43DEBB;
}

.boardScreen .boardCombo .tablero .row_group_container .margLeft {
  margin-left: 2%;
}

.boardScreen .boardCombo .tablero .row_group_container .margTop {
  margin-top: 1%;
}

.boardScreen footer {
  padding: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boardScreen footer .back {
  font-weight: bold;
  color: #39A3CD;
  font-size: 1.2em;
  font-family: 'Exo 2', sans-serif;
}

.boardScreen footer .back:hover {
  color: #39A3CD;
  font-family: 'Exo 2', sans-serif;
}

.boardScreen footer .logoFooter {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.homeTop {
  height: 10vh;
}

.homeTop .homeTop__Img {
  padding-top: 2%;
  padding-right: 5%;
  width: 14%;
  float: right;
}

.homeMiddle {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homeMiddle h1 {
  font-size: 4em;
  font-family: 'Fredoka One', cursive;
  color: var(--colorThird);
}

.homeMiddle ul {
  padding-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1rem;
}

.homeMiddle ul li {
  list-style: none;
  text-decoration: none;
  color: var(--colorThird);
  font-family: 'Exo 2', sans-serif;
  font-size: 1.2em;
}

.homeBottom {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homeBottom .homeBottom__Img {
  width: 15%;
  padding-left: 5%;
}

.scoreMiddle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

.scoreMiddle .crownImg {
  width: 20%;
}

.scoreMiddle hr {
  size: 50px;
  width: 100%;
  color: var(--colorThird);
}

.scoreMiddle .userDisplay .nameScore {
  text-align: left;
}

.scoreMiddle .userDisplay .nameScore h2 {
  color: var(--colorThird);
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  font-size: 1.4em;
}

.scoreMiddle .userDisplay .movTimScore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scoreMiddle .userDisplay .movTimScore h3 {
  color: var(--colorThird);
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  padding-top: 2%;
}

.scoreMiddle .userDisplay .movTimScore .timmerImg {
  width: 12%;
}

.scoreMiddle .userDisplay .movTimScore .movementImg {
  width: 10%;
}

.profileMiddle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  font-family: 'Fredoka One', cursive;
  color: var(--colorThird);
  font-size: 1.4rem;
}

.profileMiddle .profileLisItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Exo 2', sans-serif;
}

.profileMiddle .profileLisItem h3 {
  padding-top: 2%;
  font-size: 1.4rem;
  text-align: left;
}

.profileMiddle .profileLisItem .btn-link {
  text-decoration: none;
  color: var(--colorPrima);
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.profileMiddle hr {
  size: 50px;
  width: 100%;
  color: var(--colorThird);
}

.profileMiddle .btn-linka {
  text-decoration: none;
  color: var(--colorPrima);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  border: 0.1rem solid var(--colorSecun);
  font-family: 'Exo 2', sans-serif;
}

.newProfileMiddle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  font-family: 'Fredoka One', cursive;
  color: var(--colorSecun);
  font-size: 1.4rem;
}

.newProfileMiddle form {
  width: 100%;
  padding-top: 5%;
  font-family: 'Exo 2', sans-serif;
}

.newProfileMiddle form .form-text {
  color: var(--colorThird);
}

.newProfileMiddle form .themes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newProfileMiddle form .themes .themeOption {
  width: 100%;
}

.newProfileMiddle form .themes .themeOption .themeExample {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  border: 0.2rem solid var(--colorThird);
}

.newProfileMiddle form .themes .themeOption .green {
  background: #52734d;
  background: linear-gradient(220deg, #52734d 0%, #91c788 50%, #ddffbc 80%, #eeeeee 90%);
}

.newProfileMiddle form .themes .themeOption .purple {
  background: #170129;
  background: linear-gradient(220deg, #170129 0%, #6a00c6 50%, #57406b 80%, #f0f0f0 90%);
}

.newProfileMiddle form .themes .themeOption .dark {
  background: black;
  background: linear-gradient(220deg, black 0%, #222831 50%, #222831 80%, #eeeeee 90%);
}

.newProfileMiddle form .themes .themeOption .light {
  background: #b5b5b5;
  background: linear-gradient(220deg, #b5b5b5 0%, #faffe0 11%, #faffe0 66%, #ededed 94%);
}

.newProfileMiddle form .themes .themeOption .activeTheme {
  border: 0.2rem solid #ffe600;
  border-radius: 0.5rem;
}

.newProfileMiddle form .themes .themeOption .themeDescription {
  position: absolute;
  padding-top: 1%;
  font-size: 1rem;
  text-align: center;
}

.newProfileMiddle form .sound {
  margin-top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newProfileMiddle form .submitC {
  margin-top: 5%;
  float: right;
}

.newProfileMiddle .btn-link {
  text-decoration: none;
  color: var(--colorPrima);
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  border: 0.1rem solid var(--colorSecun);
  font-weight: bold;
}

.newProfileMiddle h3 {
  padding-top: 10%;
  font-family: 'Exo 2', sans-serif;
  text-decoration: underline;
  color: var(--colorThird);
  font-size: 0.8em;
}
/*# sourceMappingURL=style.css.map */