* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*--colorPrima: #4c5186;
    --colorSecun: #39A3CD;
    --colorThird: #43DEBB;


    --gradientBase: rgb(30, 33, 64);
    --gradient: linear-gradient(180deg, rgba(30, 33, 64, 1) 0%, rgba(34, 37, 71, 1) 10%, rgba(37, 41, 79, 1) 30%, rgba(41, 46, 86, 1) 75%, rgba(45, 50, 94, 1) 94%);
    --gradientBoard: linear-gradient(310deg, rgba(30, 33, 64, 1) 0%, rgba(34, 37, 71, 1) 10%, rgba(37, 41, 79, 1) 30%, rgba(41, 46, 86, 1) 75%, rgba(45, 50, 94, 1) 94%);
    ;
    --gradientEnd: rgba(45, 50, 94, 1);
*/

    
    --colorPrima: #8BEC96;
    --colorSecun: #8FFF57;
    --colorThird: #5A8266;    

    --gradientBase:  #18AD44;
    --gradient:linear-gradient(180deg, #478d4f 0%, #18AD44 74%);
    --gradientBoard:linear-gradient(0deg, #478d4f 0%, #18AD44 74%);
    --gradientEnd: #18AD44;

    /* --colorPrima: #8BEC96;
    --colorSecun: #8FFF57;
    --colorThird: #5A8266;    

    --gradientBase:  #18AD44;
    --gradient:linear-gradient(0deg, #39c74a 0%, #18AD44 74%);
    --gradientBoard:linear-gradient(180deg, #39c74a 0%, #18AD44 74%);
    --gradientEnd: #39c74a;*/
}

body {
    background: var(--gradientBase);
    background: var(--gradient);
    // max-height: 640px;
    height: auto;
    background-repeat: no-repeat;
    background-color: var(--gradientEnd);
}

.boardScreen {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // align-items: center;
    max-width: 360px;
    margin-top: 2%;

    //max-height: 900px;
    header {
        // height: 24vh;
        font-family: 'Fredoka One', cursive;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1.8em;
        color: var(--colorSecun);

        .option {
            padding-top: 5%;
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            //  background-color: yellow;

            h1 {
                font-size: 2em;
                text-align: left;
                color: var(--colorSecun);
                opacity: 0.6;
            }

            .optionImg {
                transform: scale(1);
                //background-color: red;
            }

        }

        .scoreHeader {

            display: flex;
            flex-direction: row;
            // background-color: red;
            width: 90%;

            .btn-link {
                text-decoration: none;
                color: var(--colorSecun);
                font-size: 1.3rem;
                font-weight: bolder;
                font-family: 'Exo 2', sans-serif;
                letter-spacing: 0.1rem;
                // background-color: yellow;
                padding: 0%;
                justify-content: end;
                opacity: 0.5;
            }

            .btn-link:hover {
                text-decoration: none;
                border: none;
                color: var(--colorSecun);
                opacity: 1;
            }

            .scoreHeaderItem {
                padding: 0%;
                padding-top: 2%;
                text-align: end;

                .movement {
                    color: var(--colorSecun);
                    font-size: 1.8rem;
                    font-weight: bold;
                    font-family: 'Exo 2', sans-serif;
                }

                .time {
                    color: var(--colorSecun);
                    font-weight: bold;
                    font-size: 1.8rem;
                    font-family: 'Exo 2', sans-serif;
                }
            }



        }
    }


    .boardCombo {
        background: var(--gradientBase);
        background: var(--gradientBoard);
        padding: 2%;
        border-radius: 0.5em;
        font-family: 'Exo 2', sans-serif;
        margin-top: 3%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        #oficialBoard {
            margin-top: -300px;
            z-index: 5;
            //background-color: yellow;
        }


        .tablero {
            height: 300px;
            width: 300px;
            border-radius: 0.5em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 0.5em;
            background-color: rgba(255, 255, 255, 0.02);

            .row_group_container {
                display: flex;
                flex-wrap: nowrap;
                height: 24.5%;
                width: 100%;
                z-index: 1;
                justify-content: space-around;

                .target {
                    height: 90%;
                    width: 23%;
                    text-align: center;
                    align-items: center;
                    font-size: 2.4em;
                    font-weight: bolder;
                    border-radius: 0.3em;
                    border: none;
                    position: relative;
                    margin: 1%;
                }

                .activeOne {
                    font-weight: bolder;
                    text-align: center;
                    align-items: center;
                    color: var(--colorSecun);
                    background-color: rgba(255, 255, 255, 0);
                    font-size: 2.4em;
                    font-weight: bolder;

                }

                .targetOB {
                    width: 23%;
                    height: 90%;
                    text-align: center;
                    align-items: center;
                    font-size: 2.2em;
                    border-radius: 0.3em;
                    border: none;
                    position: relative;
                    margin: 1%;

                    font-size: 2.2em;
                    font-weight: bolder;
                }


                .active {
                    font-weight: bolder;
                    text-align: center;
                    align-items: center;
                    color: var(--colorSecun);
                    background-color: rgba(255, 255, 255, 0);
                    font-size: 2.4em;
                    font-weight: bolder;
                    

                }

                .nonActive {
                    background-color: var(--colorPrima);
                    font-weight: bolder;
                    color: var(--colorThird);
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }

                .margLeft {
                    margin-left: 2%;
                }

                .margTop {
                    margin-top: 1%;
                }

            }

        }
    }

    footer {
        padding: 4%;
        //  height: 18vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .back {
            font-weight: bold;
            color: var(--colorSecun);
            font-size: 1.2em;
            font-family: 'Exo 2', sans-serif;

        }

        .back:hover {
            color: var(--colorSecun);
            font-family: 'Exo 2', sans-serif;
        }

        .logoFooter {
            transform: scale(0.5);
        }
    }
}



@import "home";
@import "globalScore";
@import "profileList";
@import "newProfile";