* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --colorbase: #222831;
  --colorPrima: #393E46;
  --colorSecun: #EEEEEE;
  /**/
  --colorbase: #763857;
  --colorPrima: #F4F9F9;
  --colorSecun: #F7F6E7;
  /**/
  --colorbase: #2e3154;
  --colorPrima: #57406b;
  --colorSecun: #e076a5;
  /**/
  --colorbase: #52734D;
  --colorPrima: #91C788;
  --colorSecun: #DDFFBC;
  --colorThird: #EEEEEE;
}

body {
  background-color: var(--colorbase);
  max-width: 360px;
  max-height: 640px;
}

header {
  height: 20vh;
  font-family: 'Fredoka One', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 1.8em;
  color: var(--colorSecun);
}

header .option {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .option h1 {
  color: var(--colorThird);
  font-size: 2.2em;
}

header .option .optionImg {
  padding-top: 0%;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  opacity: 0.5;
}

header .scoreHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  align-items: center;
}

header .scoreHeader .scoreHeaderItem {
  padding-top: 4%;
  text-align: end;
}

header .scoreHeader .scoreHeaderItem .movement {
  color: var(--colorSecun);
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Exo 2', sans-serif;
}

header .scoreHeader .scoreHeaderItem .time {
  color: var(--colorSecun);
  font-weight: bold;
  font-size: 1.8 rem;
  font-family: 'Exo 2', sans-serif;
}

header .scoreHeader .btn-link {
  text-decoration: none;
  color: var(--colorPrima);
  font-size: 1.4rem;
  font-weight: bold;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 0.1rem;
}

header .scoreHeader .btn-link:hover {
  text-decoration: none;
  border: none;
  color: inherit;
}

.tablero {
  height: 50vh;
}

.tablero .row_group_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 25%;
}

.tablero .target {
  color: #303030;
  width: 24.75%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: monospace;
  font-size: 2.4em;
  border-radius: 0.2em;
}

.tablero .active {
  background-color: var(--colorPrima);
  border: var(--colorbase) solid 2px;
  opacity: 0.6;
  color: azure;
  font-weight: bolder;
}

.tablero .nonActive {
  background-color: var(--colorSecun);
  border: var(--colorbase) solid 2px;
  opacity: 0.8;
  font-weight: bolder;
}

.tablero .margLeft {
  margin-left: 1%;
}

.tablero .margTop {
  margin-top: 1%;
}

.score {
  height: 10vh;
}

footer {
  height: 20vh;
}

.homeTop {
  height: 10vh;
}

.homeTop .homeTop__Img {
  padding-top: 2%;
  padding-right: 5%;
  width: 14%;
  float: right;
}

.homeMiddle {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homeMiddle h1 {
  font-size: 4em;
  font-family: 'Fredoka One', cursive;
  color: var(--colorThird);
}

.homeMiddle ul {
  padding-left: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeMiddle ul li {
  list-style: none;
  text-decoration: none;
  color: var(--colorThird);
  font-family: 'Exo 2', sans-serif;
  font-size: 1.2em;
}

.homeBottom {
  height: 10vh;
}

.homeBottom .homeBottom__Img {
  width: 15%;
  padding-left: 5%;
}

.scoreMiddle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

.scoreMiddle .crownImg {
  width: 40%;
}

.scoreMiddle hr {
  size: 50px;
  width: 100%;
  color: var(--colorThird);
}

.scoreMiddle .userDisplay .nameScore {
  text-align: left;
}

.scoreMiddle .userDisplay .nameScore h2 {
  color: var(--colorThird);
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  font-size: 1.4em;
}

.scoreMiddle .userDisplay .movTimScore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scoreMiddle .userDisplay .movTimScore h3 {
  color: var(--colorThird);
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  padding-top: 2%;
}

.scoreMiddle .userDisplay .movTimScore .timmerImg {
  width: 12%;
}

.scoreMiddle .userDisplay .movTimScore .movementImg {
  width: 10%;
}

.profileMiddle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  font-family: 'Fredoka One', cursive;
  color: var(--colorThird);
  font-size: 1.4rem;
}

.profileMiddle .profileLisItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Exo 2', sans-serif;
}

.profileMiddle .profileLisItem h3 {
  padding-top: 2%;
  font-size: 1.4rem;
  text-align: left;
}

.profileMiddle .profileLisItem .btn-link {
  text-decoration: none;
  color: var(--colorPrima);
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.profileMiddle hr {
  size: 50px;
  width: 100%;
  color: var(--colorThird);
}

.profileMiddle .btn-linka {
  text-decoration: none;
  color: var(--colorPrima);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  border: 0.1rem solid var(--colorSecun);
  font-family: 'Exo 2', sans-serif;
}

.newProfileMiddle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  font-family: 'Fredoka One', cursive;
  color: var(--colorSecun);
  font-size: 1.4rem;
}

.newProfileMiddle form {
  width: 100%;
  font-family: 'Exo 2', sans-serif;
}

.newProfileMiddle form .form-text {
  color: var(--colorThird);
}

.newProfileMiddle form .themes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newProfileMiddle form .themes .themeOption .themeExample {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  border: 0.2rem solid var(--colorThird);
}

.newProfileMiddle form .themes .themeOption .green {
  background: #52734d;
  background: linear-gradient(220deg, #52734d 0%, #91c788 50%, #ddffbc 80%, #eeeeee 90%);
}

.newProfileMiddle form .themes .themeOption .purple {
  background: #170129;
  background: linear-gradient(220deg, #170129 0%, #6a00c6 50%, #57406b 80%, #f0f0f0 90%);
}

.newProfileMiddle form .themes .themeOption .dark {
  background: black;
  background: linear-gradient(220deg, black 0%, #222831 50%, #222831 80%, #eeeeee 90%);
}

.newProfileMiddle form .themes .themeOption .light {
  background: #b5b5b5;
  background: linear-gradient(220deg, #b5b5b5 0%, #faffe0 11%, #faffe0 66%, #ededed 94%);
}

.newProfileMiddle form .themes .themeOption .active {
  border: 0.2rem solid yellow;
}

.newProfileMiddle form .themes .themeOption .themeDescription {
  font-size: 1rem;
  text-align: center;
}

.newProfileMiddle form .sound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newProfileMiddle form .submitC {
  margin-top: 5%;
  float: right;
}

.newProfileMiddle .btn-link {
  text-decoration: none;
  color: var(--colorPrima);
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  border: 0.1rem solid var(--colorSecun);
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */