* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorPrima: #1E2140;
    --colorSecun: #DDFFBC;
    --colorThird: #EEEEEE;
}

body {


    background: rgb(30, 33, 64);
    background: linear-gradient(130deg, rgba(30, 33, 64, 1) 0%, rgba(34, 37, 71, 1) 25%, rgba(37, 41, 79, 1) 50%, rgba(41, 46, 86, 1) 75%, rgba(45, 50, 94, 1) 94%);
    // max-height: 640px;
    background-repeat: no-repeat;
    height: 100vh;
}

.boardScreen {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // align-items: center;
    max-width: 360px;

    //max-height: 900px;
    header {
        // height: 24vh;
        font-family: 'Fredoka One', cursive;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1.8em;
        color: var(--colorSecun);

        .option {
            padding-top: 5%;
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            //  background-color: yellow;

            h1 {
                font-size: 2em;
                text-align: left;
                color: #2F9ED3;
                opacity: 0.4;
            }

            .optionImg {
                transform: scale(1);
                //background-color: red;
            }

        }

        .scoreHeader {
            display: flex;
            flex-direction: row;
            // background-color: red;
            width: 90%;

            .btn-link {
                text-decoration: none;
                color: #484b6d;
                font-size: 1.3rem;
                font-weight: bolder;
                font-family: 'Exo 2', sans-serif;
                letter-spacing: 0.1rem;
                // background-color: yellow;
                padding: 0%;
                justify-content: end;
            }

            .btn-link:hover {
                text-decoration: none;
                border: none;
                color: #39A3CD;
            }

            .scoreHeaderItem {
                padding: 0%;
                padding-top: 2%;
                text-align: end;

                .movement {
                    color: #39A3CD;
                    font-size: 1.8rem;
                    font-weight: bold;
                    font-family: 'Exo 2', sans-serif;
                }

                .time {
                    color: #39A3CD;
                    font-weight: bold;
                    font-size: 1.8rem;
                    font-family: 'Exo 2', sans-serif;
                }
            }



        }
    }


    .boardCombo {
        background: rgb(30, 33, 64);
        background: linear-gradient(310deg, rgba(30, 33, 64, 1) 0%, rgba(34, 37, 71, 1) 25%, rgba(37, 41, 79, 1) 50%, rgba(41, 46, 86, 1) 75%, rgba(45, 50, 94, 1) 94%);
        padding: 2%;
        border-radius: 0.5em;
        font-family: 'Exo 2', sans-serif;

        #oficialBoard {
            margin-top: -300px;
            z-index: 5;
            //background-color: yellow;
        }


        .tablero {
            height: 300px;
            width: 300px;
            border-radius: 0.5em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 0.5em;
            background-color: rgba(255, 255, 255, 0.02);

            .row_group_container {
                display: flex;
                flex-wrap: nowrap;
                height: 24.5%;
                width: 100%;
                z-index: 1;
                justify-content: space-around;

                .target {

                    width: 24%;
                    text-align: center;
                    align-items: center;
                    font-size: 2.4em;
                    font-weight: bolder;
                    border-radius: 0.3em;
                    border: none;
                    position: relative;
                    margin: 1%;
                }

                .activeOne {
                    font-weight: bolder;
                    text-align: center;
                    align-items: center;
                    color: #2F9ED3;
                    background-color: rgba(255, 255, 255, 0);
                    font-size: 2.4em;
                    font-weight: bolder;

                }

                .targetOB {
                    color: (--colorBase);
                    width: 24%;
                    text-align: center;
                    align-items: center;
                    font-size: 2.2em;
                    border-radius: 0.3em;
                    border: none;
                    position: relative;
                    margin: 1%;

                    font-size: 2.2em;
                    font-weight: bolder;
                }


                .active {
                    font-weight: bolder;
                    text-align: center;
                    align-items: center;
                    color: #2F9ED3;
                    background-color: rgba(255, 255, 255, 0);
                    font-size: 2.4em;
                    font-weight: bolder;
                }

                .nonActive {
                    background-color: #4c5186;
                    font-weight: bolder;
                    color: #43DEBB;
                }

                .margLeft {
                    margin-left: 2%;
                }

                .margTop {
                    margin-top: 1%;
                }

            }

        }
    }

    footer {

        //  height: 18vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .back {
            font-weight: bold;
            color: #39A3CD;
            font-size: 1.2em;
            font-family: 'Exo 2', sans-serif;

        }

        .back:hover {
            color: #39A3CD;
            font-family: 'Exo 2', sans-serif;
        }

        .logoFooter {
            transform: scale(0.5);
        }
    }
}



@import "home";
@import "globalScore";
@import "profileList";
@import "newProfile";